*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: fantasy;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

#game-area{
    width:80%;
    height: 80%;
    background-image:url(./images/BG_0000s_0000_31916.png); 
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hastatiContainer{
    top: 170px;
    position: absolute;
    display:flex;
    justify-content:center;
    align-items: center;
    height: 56px;
    width:95%;
    z-index: 3;
}

.hastati{
    min-width: 50px;
    height: 50px;
    
    object-fit: none;
    object-position: center;
    background-image: url(./images/hastati.png);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;

}
#principesContainer{
    top: 120px;
    position: absolute;
    display:flex;
    justify-content:center;
    align-items: center;
    height: 56px;
    width:95%;
    z-index: 2;
}

.principes{
    min-width: 60px;
    height: 50px;
    top: 0;
    left: 350;
    
    object-fit: none;
    offset-position: right;
    background-image: url(./images/principes.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#triariiContainer{
    top: 70px;
    position: absolute;
    display:flex;
    justify-content:center;
    align-items: center;
    height: 56px;
    width:95%;
}

.triarii{
    width: 26px;
    height: 56px;
    top: 0;
    left: 350;
    margin-top: -6px;
    margin-bottom: -6px;
    object-fit: none;
    background-image: url(./images/Knight_cropped.png);
    background-size: cover;
    z-index: 1;
    
}

.basic-enemy{
    
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 1px;
    top: 0;
    left: 0;
    background-color: green;
    z-index: 4;
}
.enemy1{
    
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 1px;
    top: 0;
    left: 0;
    background-image: url(./images/orc1.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 4;
}
.enemy2{
    
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 1px;
    top: 0;
    left: 0;
    background-image: url(./images/orc2.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 4;
}
.enemy3{
    
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 1px;
    top: 0;
    left: 0;
    background-image: url(./images/orc3.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 4;
}
.enemy4{
    
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 1px;
    top: 0;
    left: 0;
    background-image: url(./images/orc4.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 4;
}
.enemy5{
    
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 1px;
    top: 0;
    left: 0;
    background-image: url(./images/orc5.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 4;
}
.enemy6{
    
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 1px;
    top: 0;
    left: 0;
    background-image: url(./images/orc6.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 4;
}
.enemy7{
    
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 1px;
    top: 0;
    left: 0;
    background-image: url(./images/orc7.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 4;
}
.swordsman{
    
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 1px;
    top: 0;
    left: 0;
    background-image: url(./images/sword-orc.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
}
.ax-orc{
    
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 1px;
    top: 0;
    left: 0;
    background-image: url(./images/ax-orc.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
}
.attack-boss{
    
    width: 60px;
    height: 60px;
    position: absolute;
    margin: 1px;
    top: 0;
    left: 0;
    background-image: url(./images/attacking-boss.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 6;
}
.big-boss{
    
    width: 70px;
    height: 70px;
    position: absolute;
    margin: 1px;
    top: 0;
    left: 0;
    background-image: url(./images/big-boss.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 6;
}
.grid{
    width : 25px;
    height:25px;
    position: absolute;
    top:0;
    left: 0;
    margin: 0;
    z-index:0;
    border: 1px solid red;
}

#game-over-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(9, 102, 182, 0.456);
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 9;
  }
  
  #game-over-container {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    width: 50vw;
    height: 50vh;
    
    border-radius: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4em;
  }
  
  #try-again-btn {
    width: 40%;
    cursor: pointer;
    transition: 300ms;
  }
  #try-again-btn:hover{
  transform: scale(1.1);
    }
  #game-over{
    color: red;
    font-size: 2em;
  }
  #score-gameover{
    color: black;
    font-size: 1em;
  }
  h3{
    text-align: left;
    position: absolute;
    top: 0;
    left :400;
  }
  h4{
    text-align: left;
    position: absolute;
    top: 0;
    left :0;
  }

.bar-container-hastati{
    position:absolute;
    bottom: 0;
    z-index: 2;
    width: 45px; 
}

.bar-container-principes{
    position:absolute;
    bottom: 0;
    z-index: 2;
    width: 45px;
    left: 50%;
    transform: translateX(-50%);
}
.bar-container-triarii{
    position:absolute;
    bottom: 0;
    z-index: 2;
    width: 25px; 
}

  .health-bar, .stamina-bar {
    width: 100%;
    height: 5px;
    background-color: #cccccca5;
    border: 1px solid #000;
    border-radius: 5px;
    z-index: 3;
    margin-right: 1px;
    margin-left: 1px;
    background-color: rgba(255, 0, 0, 0.676);
    align-items: center;
    justify-content: center;
    
}


.health-fill {
    height: 100%;
    background-color: rgba(0, 128, 0, 0.717);
    width: 100%; 
    border-radius: 5px;
    z-index: 4;
}
.stamina-fill {
    height: 100%;
    background-color: rgba(0, 0, 255, 0.74);
    width: 100%; 
    border-radius: 5px;
    z-index: 4;
}

